 :root {
   --basic-red: #EE3643;
   --basic-green: #63A63E;
   --basic-grey: #3D546F;
   --basic-greylight: #C5C5C5;
   --basic-background: #F1F5F7;
   --wight: #FFFFFF;
   --special-ylellow: #FFBF47;
   --special-blue: #3BBCE3;
   --special-lilac: #DC91D8;
   --special-greenlight: #8ED78F;
   --special-yellowlight: #FFD180;
   --success: #5FBB2D;
   --warning: #FFBF47;
   --error: #BA2732;
   --light-gray: #EAEAEA;

 }

@font-face {
  font-family: 'Cuprum', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--wight);
}

header {
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 320px;
  margin-bottom: 59px;
  background-color: var(--basic-background)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #32425C;
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
}

div.main-header {
  background-color: #293449;
  width: 100%;
  height: 47px;
}

footer {
  background-color: #32425C;
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  height: 300px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-header-logo {
  width: 200px;
  height: 47px;
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}

div.main-info{
  display: flex;
  width: 940px;
  margin-top: 41px;
  justify-content: space-around;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.main-list a {
  color: var(--wight);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 356px;
  margin: 70px auto;
}

.features {
  width: 460px;
}

.contacts {
  width: 300px;
}

ul.list {
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.main-list,
.nav__list,
.item {
  list-style: none;
}

.nav__list a {
 color: var(--wight);
 font-family: Cuprum;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 24px;
 display: flex;
 align-items: center;
}

.desc {
  font-family: Cuprum;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color:#EE3643;
}

.info a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #EE3643;
}

.info {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #32425C;
}

p.info {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 72px;
}

a.phone {
  margin: 0 auto;
}

.registration-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login,
.registration {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.nav__list a:hover,
.nav__list a:focus {
  background-color: #293449;
}

h2.title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

p.text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.item li {
  list-style: none;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--wight);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.main-footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.footer-contacts {
  display: flex;
  align-content: flex-start;
  width: 324px;
  flex-wrap: wrap;

}

div.container {
  background-color: #293449;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-list a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.item a {
  color: #F1F5F7;
}

a.link,
.items a {
  color: #FFD180;
}

.footer-copiright {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  grid-column:
  grid-row:
}

.text .link {
  color: #FFD180;
}

.footer-text {
  color: #FFFFFF;
}

.visually-hidden {
  display: none;
}

.breadcrumbs a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: contents;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #32425C;
}


fieldset {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;

}

h3 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0484964px;
  text-transform: uppercase;
  color: #000000;
}

button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.footer-info {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #F3F7F9;
}

.heading {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.card-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
}

.login-orders,
.login-account {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #32425C;
}

.list-features {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.filter {
  width: 220px;
  height: 720px;

}

.filter-checkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 220px;
  height: 266px;
}

.filter-radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 700px;
  min-height: 990px;
  margin-left: 50px;
}

main {
  display: grid;
  grid-template-columns: 220px 1fr;
  margin: 0 130px;
}
